* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #0D62A7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

header p {
    color: #EDF1F6;
    font-family: 'Ubuntu', sans-serif;   
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 40px;
}


#relogio {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#relogio div {
    display: flex;
	flex-direction: column;
	align-items: center;
}

.horario {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #0A4A7E;	
    border-radius: 8px;
    padding: 8px;
    margin: 0 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome{
    
    font-family: 'Roboto', sans-serif;
    margin-top:6px;
    font-size: 14px;
    text-align: center;
    color: #C0C0C0;
}

section {
    min-height: 100%;
    width: 100%;
    background: rgba(54, 64, 116, 0.32);
    padding: 0 150px;
}

#top {
    position: relative;
    background: rgba(12, 18, 50, 0.65);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 75px;
}

#top::after {
    background-image: url('../images/Fundo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
    filter: blur(3px);
}

#logo {
    margin-left: 150px;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

#esquerda {
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    margin-right: 180px;
}

.anuncio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3AABB9;
    border-radius: 20px;
    padding: 32px 24px;
    max-width: 584px;
}

.anuncio p {  
    font-size: 24px;
    display: flex;
    align-items: center;
}

.anuncio p:nth-child(1) {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.anuncio p:nth-child(2) {
    margin: 55px 0;
}

#esquerda ul li {
    font-size: 20px;
    margin: 32px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

.formulario {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 40px;
    position: relative;
    max-width: 432px;
}

.formulario img {
    width: 300px;
    position: absolute;
    top: -169px;
    left: 60px;
}


.formulario p {
    font-family: 'Roboto', sans-serif;   
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #000000;
    margin: 20px 0 40px;
    text-transform: uppercase;
}

.formulario form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


input[type=text]{
    width: 351px;
    height: 75px;
    border: 1px solid #233E84;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type=email]{
    width: 351px;
    height: 75px;
    border: 1px solid #233E84;
    box-sizing: border-box;
    border-radius: 40px;
    outline: none;
    margin: 15px 0;
}

input[value]{
    padding:30px;
    font-family: 'Roboto', sans-serif; 
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    color: #233E84;
}

.botao{
    width: 351px;
    height: 75px;  
    background: #3AABB9;
    border-radius: 40px;  
    border: 0;
    cursor: pointer;
}

.botao:hover{
    color:#eff0f3;
    background: #1e8f9e;
    transition: all 0.3s ease-in-out;
    
    }

    
.textobotao{
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    font-size: 18px;
    color: #101E42;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

#convidados {
    background: #E4E4E4;
    padding-top: 64px;   
    padding-bottom: 48px;
}

#convidados p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #505050;
}

#convidados > p:nth-last-child(1) {
    margin-top: 48px;
}

.conheca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 0 48px;
}

.conheca span {
    border: 2px solid #3AABB9;
    flex: 1;
}

.conheca h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #505050;
    margin: 0 20px;
}

.perfis {
    display: flex;
    justify-content: space-between;
    margin-bottom: 164px;
}

.perfil {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	color: #505050;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.perfikl img {
    width: 220px;
    height: 220px;
}

.perfil h4 {
    font-size: 24px;
    margin-top: 34px;
}

.perfil p {
    /* font-size: 18px; Esta fonte está anulada pela TAG #convidados p */
    margin-top: 5px;
}

.perfil h5{
    width: 280px;
    height: 201px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 110%;
    /* or 18px */
    color: #505050;
    padding-top: 20px;
}

#convidados a {
    background: #3AABB9;
    border-radius: 40px;
    width: 432px;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #101E42;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

footer {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #0D62A7;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a:nth-child(-n+4) {
    margin: 0 64px;
}

#convidados a:hover{
    color:#eff0f3;
    background: #1e8f9e;
    transition: all 0.3s ease-in-out;
}